@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* SETEAR ESTILOS POR DEFECTO */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}


/* DEFINIMOS VARIABLES DE MARCA */
:root{
    --color-primario: #6644B8;
    --color-secundario: #bb00bd;
    --color-fondoA : #221039;
    --color-fondoB : #37274b;
}

/* ESTILOS PAGINA DE INICIO */
#cont-inicio{
    width: 100%;
    max-width: 430px;
    min-height: 100vh;
    margin: 0 auto;
    background: url("../img/home-img.png") var(--color-fondoA);
    text-align: center;
    padding-top: 415px;
}

#cont-inicio p{
    color: #fff;
    font-size: 18px;
    padding: 0 60px;
}

.btn-principal{
    padding: 14px 40px;
    background: var(--color-primario);
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    display: block;
    max-width: 90%;
    margin: 70px auto 10px;
    text-decoration: none;
}

.btn-secundario{
    padding: 14px 40px;
    background: var(--color-fondoB);
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    display: block;
    max-width: 90%;
    margin: 20px auto 0;
    text-decoration: none;
}

/* ESTILOS REGISTRO */
#cont-registro{
    width: 100%;
    max-width: 430px;
    min-height: 100vh;
    margin: 0 auto;
    background: url("../img/register-img.png") var(--color-fondoA);
    text-align: center;
    padding-top: 200px;
}

#cont-registro p{
    color: #fff;
    font-size: 18px;
    padding: 0 60px;
}

#cont-registro form{
    width: 90%;
    margin: 40px auto 0;

}

#cont-registro form input{
    display: block;
    width: 100%;
    padding: 14px 20px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    margin: 10px 0;
    border-radius: 8px;
    font-size: 20px;

}

/* ESTILOS HOME */

#cont-home{
    width: 100%;
    max-width: 430px;
    min-height: 100vh;
    margin: 0 auto;
    background: var(--color-fondoA);
    position: relative;
}

#cont-home .header{
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
}

#cont-home .header img{
    width: 50px;
}

#cont-home .header a:nth-child(3) img {
    border-radius: 50%;
}

#cont-home .filtros{
    width: 90%;
    margin: 0 auto;
    display: flex;
    background: var(--color-fondoB);
    border: 2px solid var(--color-primario);
    border-radius: 12px;
}

#cont-home .filtros button{
    background: transparent;
    padding: 12px 10px;
    width: 33.3%;
    border-radius: 8px;
    border-color: transparent;
    color: #fff;
}

#cont-home .filtros button.active{
    background: var(--color-primario);
    font-weight: 600;
}

#copy-category{
    color: #fff;
    padding: 20px;
    text-align: center;
}

.cont-aventuras{
    width: 90%;
    margin: 0 auto;
}

.cont-aventuras h2{
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}

.cont-aventuras hr{
    width: 140px;
    border: 2px solid var(--color-primario);
    margin: 4px 0 20px;
}
.cont-caratulas {
    display: flex ;
    overflow-x: scroll;
    margin-bottom: 10px;
}
.caratula{
    background: #fff;
    border: transparent;
    border-radius: 20px 0 20px 0 ;
    width: 170px;
    padding: 2px ;
    margin-right: 10px;
}
.caratula img{
    width: 160px;
    border-radius: 20px 0 20px 0 ;
}

/* Modal de la imagen */
#modal-pelicula{
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    background: #221039f2;
    padding: 20px;
    display: none;
}
#modal-pelicula.active{
    display: block;
}

#modal-pelicula button{
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 99;
    background: transparent;
    border: transparent;
    font-size: 30px;
    color: #fff;
}
#modal-pelicula .caratula-img{
    width: 100%;
}
#modal-pelicula .btn-play{
    width: 60px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 240px;
    z-index: 9;
}
#modal-pelicula h2{
    font-size: 40px;
    font-weight: 700;
    margin: 20px 0;
    color: #fff;
    border-bottom: 4px solid var(--color-primario);
    display: inline-block;
}
#modal-pelicula p{
    color: #fff;
}


/* Panel lateral */

#panel-Lateral{
    width: 300px;
    height: 100%;
    position: absolute;
    left: -350px;
    top: 0;
    z-index: 100;
    background-color: var(--color-fondoA);
    transition: 1s;
    border-right: 6px solid var(--color-primario);
    border-left: 6px solid var(--color-primario) ;
}

#panel-Lateral.active{
    left: 0;
    z-index: 100;
    transition: 1s;
}

#panel-Lateral h2{
    color: #fff;
    font-size: 22px;
    padding: 40px 30px;
    margin: 50px 10px;
}

#panel-Lateral h2::before{
    position: absolute;
    width: 143px;
    height: 5px;
    left: 40px;
    top: 120px;
    content: '';
    background: var(--color-primario);
}

#panel-Lateral .cerrarSesion{
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    margin: 0 35px;
}

#panel-Lateral ul{
    width: 80%;
    margin: 110px 10px;
}

#panel-Lateral ul a{
    text-align: left;
    font-weight: bold;
    display: block;
    color: #fff;
    margin: 25px 0 25px 20px;
    text-decoration: none;
    font-size: 22px;
    transition: .5s;
}

#panel-Lateral ul a:hover{
    border-radius: 10px;
    background: var(--color-segundario);
}

#panel-Lateral img{
    position: absolute;
    left: 260px;
    top: 20px;
    cursor: pointer;
    width: 70px;
    height: 70px;
    cursor: pointer;
    border-radius: 50%;
    border: 5px solid var(--color-primario);
}
